<br><br><br>
<div class="card border-primary mb3">
    <div class="card-header">Administración Sedes</div>
    <div class="card-body text-primary">
       <div class="my-2 text-left">
         <button type="button" routerLink='/admin/sedes/form' class="btn btn-success">Nueva sede</button>       
      </div>
      <div *ngIf="sedes?.length==0" class="alert alert-info">
       No hay registros en la base de datos!
      </div>
      <table class="table  table-border table-hover text-dark">
        <thead>
           <tr>
              <th>#</th>
              <th>Municipio</th>
              <th>Dirección</th>
              <th>Actualizar</th>
              <th>Eliminar</th>
              <th>Ver edificios</th>
           </tr>
        </thead>
        <tbody>      
            <tr *ngFor="let sede of sedes">
            <td>{{sede.id}}</td>
            <td>{{sede.municipio}}</td>
            <td>{{sede.direccion}}</td>
            <td><button type="button" class="btn btn-success" [routerLink]="['/admin/sedes/form', sede.id]">Actualizar</button></td>
            <td><button type="button" class="btn btn-danger" (click)="delete(sede)">Elminar</button></td>
            <td><button type="button" class="btn btn-secondary"  [routerLink]="['/admin/edificios/sede', sede.id]">Ver edificios</button></td>
           </tr>
        </tbody>
      </table>
      
    </div>
    </div>
    
