<br><br><br>
<div class="card border-primary mb3">
   <button class="btn btn-success " type="button"  [routerLink]="['/admin/salones/edificio/', edificioId]">Volver</button>
    <button class="btn btn-primary " type="button"  routerLink='/admin/sedes'>Inicio</button>
    <div class="card-header">
      <ul class="list-group list-group-horizontal" style="margin-left: -10px;">
         <li class="list-group-item">Administración clases</li>
         <li class="list-group-item">{{municipioSede}}</li>
         <li class="list-group-item">{{edificioSalon}}</li>
         <li class="list-group-item">{{salonEdificio}}</li>
       </ul>
    </div>
    <div class="card-body text-primary">
       <div class="my-2 text-left">
         <button type="button" [routerLink]="['/admin/clases/salon', salonId, 'form']" class="btn btn-success">Nueva clase</button>       
      </div>
      <div *ngIf="clases?.length==0" class="alert alert-info">
       No hay registros en la base de datos!
      </div>
      <table class="table table-border table-hover text-dark">
        <thead>
           <tr>
              <th>#</th>
              <th>Nombre asignatura</th>
              <th>Día</th>
              <th>Hora inicio</th>
              <th>Hora finalización</th>
              <th>Actualizar</th>
              <th>Eliminar</th>
           </tr>
        </thead>
        <tbody>      
            <tr *ngFor="let clase of clases">
            <td>{{clase.id}}</td>
            <td>{{clase.nombreAsignatura}}</td>
            <td>{{clase.dia}}</td>
            <td>{{clase.horaInicio}}</td>
            <td>{{clase.horaFinalizacion}}</td>
            <td><button type="button" class="btn btn-success" [routerLink]="['/admin/clases/salon', clase.salon.id, 'form', clase.id]">Actualizar</button></td>
            <td><button type="button" class="btn btn-danger" (click)="delete(clase)">Eliminar</button></td>
           </tr>
        </tbody>
      </table>
      
    </div>
    </div>
