<br><br><br>
<div class="card border-primary mb3">
    <button type="button" routerLink='/admin/sedes' class="btn btn-success">volver</button> 
    <div class="card-header">Administración clases</div>
    <div class="card-body text-primary">
       <div class="my-2 text-left">
         <button type="button" [routerLink]="['/admin/clases/salon', salonId, 'form']" class="btn btn-success">Nueva clase</button>       
      </div>
      <div *ngIf="clases?.length==0" class="alert alert-info">
       No hay registros en la base de datos!
      </div>
      <table class="table table-border table-hover text-dark">
        <thead>
           <tr>
              <th>#</th>
              <th>Nombre asignatura</th>
              <th>Día</th>
              <th>Hora inicio</th>
              <th>Hora finalización</th>
              <th>Actualizar</th>
              <th>Eliminar</th>
           </tr>
        </thead>
        <tbody>      
            <tr *ngFor="let clase of clases">
            <td>{{clase.id}}</td>
            <td>{{clase.nombreAsignatura}}</td>
            <td>{{clase.dia}}</td>
            <td>{{clase.horaInicio}}</td>
            <td>{{clase.horaFinalizacion}}</td>
            <td><button type="button" class="btn btn-success" [routerLink]="['/admin/clases/salon', clase.salon.id, 'form', clase.id]">Actualizar</button></td>
            <td><button type="button" class="btn btn-danger" (click)="delete(clase)">Eliminar</button></td>
           </tr>
        </tbody>
      </table>
      
    </div>
    </div>
