<nav class="navbar bg-light">
    <div class="container-fluid">
      <a class="navbar-brand d-flex justify-content-start align-items-center" href="#">
        <img src="https://i.postimg.cc/hGJ75Pm9/Group-28.png" alt="Logo" width="40" height="40" class="d-inline-block align-text-top">
        &nbsp; {{titlenav}}
      </a>
      <div class="d-flex" id="barra_n">
        <a class="navbar-brand d-flex justify-content-start align-items-center" href="/admin/sedes">
          <img src="../assets/icons8-casa-40.png" alt="Logo" width="40" height="40" class="d-inline-block align-text-top">
        </a>
        <a class="navbar-brand d-flex justify-content-start align-items-center" href="/admin/usuarios">
          <img src="../assets/icons8-usuario-de-género-neutro-40.png" alt="Logo" width="40" height="40" class="d-inline-block align-text-top">
        </a>
        <a class="navbar-brand d-flex justify-content-start align-items-center" href="/admin/moduloqr">
          <img src="../assets/icons8-código-qr-48.png" alt="Logo" width="40" height="40" class="d-inline-block align-text-top">
        </a>
      </div>
    </div>
</nav>
<div class="fondo">
    <div class="container">
        <router-outlet></router-outlet>
    </div>
</div>
