.fondo{
    min-height: 98vh;
    background-image: url("https://images.pexels.com/photos/1632788/pexels-photo-1632788.jpeg?auto=compress&cs=tinysrgb&w=1400");
    background-image: url("../../../imgs/imgfondo.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
}

.esconder{
  display: none;
}

@media (max-width: 600px) {
    .fondo{
      background-size: auto;

    }

    #barra_n{
      display: none !important;
    }
}