<br><br><br>
<div class="card border-primary mb3" style="border-width: 0px;">
    <button type="button" routerLink='/admin/sedes' class="btn btn-success">volver</button> 

    <div class="card-header">Administración edificios</div>
    <div class="card-body text-primary">
       <div class="my-2 text-left">
         <button type="button" [routerLink]="['/admin/edificios/sede', sedeId, 'form']" class="btn btn-success">Nuevo edificio</button>       
      </div>
      <div *ngIf="edificios?.length==0" class="alert alert-info">
       No hay registros en la base de datos!
      </div>
      <table class="table table-border table-hover text-dark">
        <thead>
           <tr>
              <th>#</th>
              <th>nombre</th>
              <th>Actualizar</th>
              <th>Eliminar</th>
              <th>Ver salones</th>
           </tr>
        </thead>
        <tbody>      
            <tr *ngFor="let edificio of edificios">
            <td>{{edificio.id}}</td>
            <td>{{edificio.nombre}}</td>
            <td><button type="button" class="btn btn-success" [routerLink]="['/admin/edificios/sede', edificio.sede.id, 'form', edificio.id]">Actualizar</button></td>
            <td><button type="button" class="btn btn-danger" (click)="delete(edificio)">Elminar</button></td>
            <td><button type="button" class="btn btn-secondary"  [routerLink]="['/admin/salones/edificio', edificio.id]">Ver salones</button></td>
           </tr>
        </tbody>
      </table>
      
    </div>
    </div>
    
