<!-- <table class="table table-border table-hover text-primary">
    <thead>
       <tr>
          <th>#</th>
          <th>nombre</th>
          <th>Ver salones</th>
       </tr>
    </thead>
    <tbody>      
        <tr *ngFor="let edificio of edificios">
        <td>{{edificio.id}}</td>
        <td>{{edificio.nombre}}</td>
        <td><button type="button" class="btn btn-secondary"  [routerLink]="['/view/salones/edificio', edificio.id]">Ver salones</button></td>
       </tr>
    </tbody>
</table> -->

<br><br><br>
<div class="d-grid gap-2">
   <button class="btn btn-primary" type="button"  routerLink='/view/sedes'>Inicio</button>
 </div>
 <br>
 <ul class="list-group list-group-horizontal">
   
   <li class="list-group-item bg-dark text-white">{{municipioSede}}</li>
 </ul>
<div class="card-header bg-dark text-center h1 text-white">Edificios</div>
<div class="card mb3 bg-light bg-opacity-10">
   <br><br>
   
   <div class="container d-flex justify-content-center flex-wrap bg-transparent " id="contenedorSedes">

      <div class="card" style="width: 18rem; margin: 10px; cursor: pointer;" *ngFor="let edificio of edificios" [routerLink]="['/view/salones/edificio', edificio.id]">
         <img src="https://elfrente.com.co/repositorio_imagenes/EL_FRENTE_02022002016017013014_FOTO_3_NOTA_3.jpg" class="card-img-top" alt="...">
         <div class="card-body bg-success bg-opacity-10">
           <h5 class="card-title">Edificio {{edificio.nombre}}</h5>
           <!-- <p class="card-text">lorem.</p> -->
         </div>
      </div>

   </div>

     <br><br>
   
</div>

